body {
  font-family: "Helvetica";
  background-image: url(fon.jpg);
  color: #24292f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}
  
.header {
  border: 5px double #000000;
  box-sizing: border-box;
  display: flex;
  width: 280px;
  column-gap: 20px;
  row-gap: 5px;
  border-radius: 20px;
  padding: 10px;
  margin: 15px 20px;
 }

.header__textContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__avatar {
  display: block;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.header__title {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  font-family: "Courier New";
  align-items: center;
}

p.header__qa{
	font-family: "Courier New";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color:#000000;
  margin: 0;
}

.links {
  width: 320px;
  margin-bottom: 20px;
  margin: 20px;
}

.links__header {
  font-family: "Courier New";
  text-align: left;
  font-size: 20px;
  line-height: 1;
  margin: 0px 20px;

}

.links__container {
  border: 5px double #000000;
  list-style-type: none;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 10px;
  margin: 10px 20px;
  gap: 5px;
  flex: none;
  order: 1;
  flex-grow: 0;
  box-sizing: border-box;
  position: relative;
  
  
}

.links__link,
.links__title {
  font-size: 14px;
  font-size: 1.2;
  color: #57606a;
}

.links__link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 0px;
  gap: 0px;
  border-bottom: 1px double #000000;
  width: 250px;
}

.links__link:last-child {
  border-bottom: none;
}

.linsk__link,
.links__link:visited {
  text-decoration: none;
  color: #14437a;
}

.links__title {
  margin: 0;
  min-width: 100px;
}

footer {
  margin: 0 0 20px 0;
}
.button-link {
  border: 2px groove #000000;
  margin: 10px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 220px;
  background: #a4d5fc;
  border-radius: 10px;

  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  font-family: "Courier New";
  color: #000000;
  text-decoration: none;
}


.button-link:hover {
  
  background-color: #368af1d3;
  color: #000000;
  box-shadow: 0 1px 0 rgba(27, 31, 36, 0.1);
}